body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1,
h2,
h3 {
    font-family: 'Montserrat';
    font-weight: bold;
}

p {
    color: #8F8F8F;
}

.big-heading {
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}


/* Containers */

.container-fluid {
    padding: 7% 15%;
}


/* sections */

.colored-section {
    background-color: #ff4c68;
    color: #fff;
}

.white-section {
    background-color: #FFF;
}


/* navbar */

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat';
    font-weight: 300;
}


/* Title Section */

.title-image {
    width: 20%;
    transform: rotate(30deg);
    position: absolute;
    right: 25%;
}

#title .container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
}


/* download buttons */

.download-button {
    margin: 5% 3% 5% 0;
}


/* features section */

#features {
    position: relative;
}

.features-title {
    font-size: 1.5rem;
}

.features-cells {
    padding: 5%;
}

.awesome-icon {
    color: #EF8172;
    margin-bottom: 20px;
}

.awesome-icon:hover {
    color: #ff4c68;
}


/* Testimonials */

#testimonials {
    background-color: #EF8172;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.testimonials-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}


/* Press Section */

#press {
    background-color: #EF8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}


/* Pricing Section */

#pricing {
    padding: 100px;
}

.pricing-text {
    font-size: 3rem;
    line-height: 1.5;
    color: #000;
}

.pricing-column {
    padding: 3% 2%;
}


/* CTA Secction */

#cta {
    padding-bottom: 3%;
}


/* Footer Section */

.footer-icon {
    padding: 2% 1%;
}

@media (max-width: 1224px) {
    #title {
        text-align: center;
    }
    .title-image {
        position: static;
        transform: rotate(0);
        width: 50%;
    }
}